body {   
font-family: Arial, sans-serif;
            
            background-color: #000;
            color: #ffffff ;
            margin: 3;
            padding: 3;
            line-height: 2;
            overflow-x: hidden;}
        header, footer {
            background-color: #22333b; 
            color: #eae0d5  (78, 75, 113);
            padding: 2 px 0;
            text-align: center;}
        .container {
            width: 69%;
            margin: auto;
            overflow: hidden;}
        h2 {color: #d3a774;}
        p  { margin: 9px 0;}
        .section {
            
            padding: 50px;
            margin-bottom: 25px;
            background-color: #111;
        }
        .image-container {
            text-align: center;
            margin: 150 px ;}
        img {
            max-width: 100%;
            height: auto;
            border: 5px solid #5e503f;}
        .button {
            border: none;
            color: white;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            overflow: center;
        }
        .button1 {
            background-color: #111;
            color: white;
            border: 2px solid #5e503f;
        }

        .button1:hover {
            background-color: #0e1f27;
            color: white;
        }

        .button2 {
            background-color: #111;
            color: rgb(255, 255, 255);
            border: 2px solid #5e503f;
        }

        .button2:hover {
            background-color: #263b49;
            color: #d3a774;
        }
        .button3 {
            background-color: #eae0d5;
            color: black;
            border: 2px solid #5e503f;
        }

        .button3:hover {
            background-color: #111;
            color: white;
        }

        .button4 {
            background-color: #eae0d5;
            color: black;
            border: 2px solid #5e503f;
        }

        .button4:hover {
            background-color: black;
            color:#162f3b;
        }
